<div class="container">
  <div class="row">
    <h3 class="text-center">View All The Cars</h3>
  </div>
  <div class="row top-buffer">
    <button class="btn btn-primary" routerLink="/car/new">Create New Car</button>
  </div>
  <div class="row top-buffer">
    <table class="table table-striped">
      <thead>
        <tr></tr>
        <tr></tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of Cars">
          <td>{{car.name}}</td>
          <td><button class="btn btn-link" routerLink="/car/{{car.id}}">View/Edit</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
