<p>
  brand-detail Page
</p>

<div class="container">
  <div class="row">
    {{NewOrView}}
  </div>
  <div class="row top-buffer">
    <fieldset disabled="{{form_disable}}">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="description">Brand Name</label>
          <input type="text" class="form-control" name="description" [(ngModel)]="brand.description" #description="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" required />
          <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
            <div *ngIf="description.errors.required">Description is required</div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
    </fieldset>

  </div>
  <div class="row">
    <button class="btn btn-link" routerLink="/brands">View All Brands</button>
  </div>
</div>
