<div class="container">
  <div class="row">
    <h3 class="text-center">View All The Brands</h3>
  </div>
  <div class="row top-buffer">
    <button class="btn btn-primary" routerLink="/brand/new">Create New Brand</button>
  </div>
  <div class="row top-buffer">
    <table class="table table-striped">
      <thead>
        <tr></tr>
      </thead>
      <tbody>
        <tr *ngFor="let brand of Brands">
          <td>{{brand.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
