<p>
  Car Detail Page -- {{NewOrView}}
</p>

<div class="container">
  <div class="row">
    <button class="btn btn-link" routerLink="/cars">View All Cars</button>
  </div>
  <div class="row top-buffer">
    <fieldset disabled="{{form_disable}}">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

        <div class="form-group">
          <label for="description">Car Description</label>
          <input type="text" class="form-control" name="description" [(ngModel)]="car.name" #description="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" required />
          <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
            <div *ngIf="description.errors.required">Description is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="length">Length</label>
          <input type="number" class="form-control" name="length" [(ngModel)]="car.length" #length="ngModel" [ngClass]="{ 'is-invalid': f.submitted && length.invalid }"
            required />
          <div *ngIf="f.submitted && length.invalid" class="invalid-feedback">
            <div *ngIf="length.errors.required">Length is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="width">Width</label>
          <input type="number" class="form-control" name="width" [(ngModel)]="car.width" #width="ngModel" [ngClass]="{ 'is-invalid': f.submitted && width.invalid }"
            required />
          <div *ngIf="f.submitted && width.invalid" class="invalid-feedback">
            <div *ngIf="width.errors.required">Width is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="cylindernumber">Cylinder Number</label>
          <input type="number" class="form-control" name="cylindernumber" [(ngModel)]="car.cylinderNumber"
            #cylindernumber="ngModel" [ngClass]="{ 'is-invalid': f.submitted && cylindernumber.invalid }" required />
          <div *ngIf="f.submitted && cylindernumber.invalid" class="invalid-feedback">
            <div *ngIf="cylindernumber.errors.required">Cylinder Number is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="enginesize">Engine Size</label>
          <input type="number" class="form-control" name="enginesize" [(ngModel)]="car.engineSize" #enginesize="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && enginesize.invalid }" required />
          <div *ngIf="f.submitted && enginesize.invalid" class="invalid-feedback">
            <div *ngIf="enginesize.errors.required">Engine Size is required</div>
          </div>
        </div>


        <div class="form-group">
          <label for="bodystyleid">Body Style</label>
          <select id="car.bodystyleid" class="form-control" name="bodystyleid" [(ngModel)]="BodyStyleSelected" required
            [ngClass]="{ 'is-invalid': f.submitted && BodyStyleSelected < 1 }" #bodystyleid="ngModel">
            <option *ngFor=" let item of bodyStyles" value="{{item.id}}">{{item.description}}</option>
          </select>
          <div *ngIf="f.submitted && BodyStyleSelected < 1" class="invalid-feedback">
            <div>Body Syle is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="brandid">Brand</label>
          <select id="brandid" #brandid="ngModel" class="form-control" name="brandid" [(ngModel)]="BrandSelected"
            [ngClass]="{ 'is-invalid': f.submitted && BrandSelected < 1 }" required>
            <option *ngFor="let item of brands" value="{{item.id}}">{{item.description}}</option>
          </select>
          <div *ngIf="f.submitted && BrandSelected < 1" class="invalid-feedback">
            <div>Brand is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="fueltypeid">Fuel Type</label>
          <select id="fueltypeid" #fueltypeid="ngModel" class="form-control" name="fueltypeid" [(ngModel)]="FuelTypeSelectd"
            [ngClass]="{ 'is-invalid': f.submitted && FuelTypeSelectd < 1 }" required>
            <option *ngFor="let item of fuelTypes" value="{{item.id}}">{{item.description}}</option>
          </select>
          <div *ngIf="f.submitted && FuelTypeSelectd < 1" class="invalid-feedback">
            <div>Fuel Type is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="ratingid">Ratings</label>
          <select id="ratingid" #ratingid="ngModel" class="form-control" name="ratingid" [(ngModel)]="RatingSeleted"
            [ngClass]="{ 'is-invalid': f.submitted && RatingSeleted < 1 }" required>
            <option *ngFor="let item of ratings" value="{{item.id}}">{{item.description}}</option>
          </select>
          <div *ngIf="f.submitted && RatingSeleted < 1" class="invalid-feedback">
            <div>Ratings is required</div>
          </div>
        </div>


        <div class="form-group">
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
    </fieldset>

  </div>
  <div class="row" *ngIf="isNew == false">
    <button class="btn btn-danger" (click)="delete()" disabled="{{form_disable}}">Delete The Car</button>
  </div>

</div>
