<p>
  Small Test. I used the following link: https://www.kaggle.com/toramky/automobile-dataset to create a
  set of cars
</p>

<p>Application Created Using ASP.NET core 2.0 with Angular 6. Using Sql Server</p>
<p>Design:
  - Built With The Repository Desgin Pattern
  - Entity FrameWork, Code first approach
</p>
